*{
    margin:0;
    padding:0;
}
body{
    height: 100%;
    margin: 0;
    line-height: 1.15;
}
a{
    text-decoration: none;
    color:#111111;
}
button{
    border: 0;
    background-color: #fff;
    color:#111111;
    
}
li{
    list-style: none;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

pre {
    font-size: 16px;
    font-family: PingFang SC, Lantinghei SC, Microsoft YaHei, HanHei SC, Helvetica Neue, Open Sans, Arial, Hiragino Sans GB, "\5FAE\8F6F\96C5\9ED1", STHeiti, WenQuanYi Micro Hei, SimSun, sans-serif;
    display: block;
    /* font-family: monospace; */
    white-space: pre;
    margin: 1em 0px;
}
